<div class="order">
    <span class="order-time">{{orderShortDate}}</span>
    <span class="order-name">{{productName}}</span>
    <span class="order-status">
        <select name="{{_id}}" selected="{{status}}">
            <option {{#if statusPending}} selected {{/if}} value="Pending">Pending</option>
            <option {{#if statusInProgress}} selected {{/if}} value="In Progress">In Progress</option>
            <option {{#if statusInTransit}} selected {{/if}} value="In Transit">In Transit</option>
            <option {{#if statusDelivered}} selected {{/if}} value="Delivered">Delivered</option>
        </select>
    </span>

    <a href="/orders/details/{{_id}}" class="button order-button">Details</a>
</div>